{% extends "template.html" %}
{% block conteudo %}
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form action="http://127.0.0.1:5000/analize" method="post" enctype="multipart/form-data">
                <div class="row justify-content-md-center">
                    <div class="col-md-12">
                        <div class="form-group files">
                            <input type="file" id="input-file-max-fs" name="arquivo"  class="form-control" multiple="" />
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <br />
                    <button type="submit" class="btn btn-success">Analisar</button>
                </div>
            </form>
            {% if retorno != '' %}
                <h4>Resultado: {{retorno}}</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}