{% extends "template.html" %}
{% block conteudo %}
    <form action="http://127.0.0.1:5000/analize" method="post" enctype="multipart/form-data">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <figure class="thumb">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/'+imagem) }}" width="100%" >
                    <figcaption>
                        <label class="fileContainer">
                            Selecione uma muda
                            <input type="file" name="arquivo" accept=".jpg">
                        </label>
                    </figcaption>
                </figure>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Analisar</button>
    </form>
{% endblock %}